<mat-toolbar class="root">
  <div class="content">
    <!-- <button -->
    <!--   mat-icon-button -->
    <!--   class="example-icon" -->
    <!--   aria-label="Example icon-button with menu icon" -->
    <!-- > -->
    <!--   <mat-icon>menu</mat-icon> -->
    <!-- </button> -->
    <button routerLink="/" mat-button class="title-btn">
      <span>🎲 Dice Odds</span>
    </button>

    <button routerLink="/poker" mat-button class="title-btn">
      <span>🎴 Poker Calculator</span>
    </button>
  </div>
</mat-toolbar>
