.cards-shelf {
  display: inline-grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 5px;
}

.card-container {
  &.disabled {
    opacity: 0.65;
    filter: grayscale(1);
  }

  &:hover {
    opacity: 0.65;
    cursor: pointer;
  }
}
